<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moon.runes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:name="moon.runes.MoonRunes"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="moon.runes.NoteListActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="moon.runes.NoteDetailActivity_"
            android:label="@string/title_note_detail"
            android:parentActivityName=".NoteListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NoteListActivity" />
        </activity>
        <activity
            android:name="moon.runes.RecorderActivity_"
            android:immersive="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>